<%- include("partials/header.ejs") %>
<body>
    <p class="animate__animated animate__fadeIn" id="title">Latest Rates</p>
    <div class="centralize">
        <div class="list" style="background-color: #213555; padding-top: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);">
            <% if (locals.data){%>
                <%Object.entries(data).forEach((fruit)=> { %>
                    <li class="Currencies_list">
                        <div class="rates">
                            <%=fruit[0] %> : <%=fruit[1] %>
                        </div>             
                    </li>
                    <%}) %>
            <%}%>       
        </div>
    </div>

    <div class="form_content">
        <h3 style="margin-right: 10px;">Base :</h3>
        <form action="/latest_rates" id="form" class="form" method="POST">
                <select name="currencies" class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px" style="margin: 0px; display: inline!important;" data-bs-theme="light">
                    <% if (locals.data){%>
                        <%Object.keys(data).forEach((currency)=> { %>
                                <option><%=currency%></option>                   
                        <%}) %>
                    <%}%>       
                </select> 
            <button class="btn btn-dark rounded-pill px-3" type="submit" style="margin-left: 5px;">Go</button> 
        </form>
    </div>



<%- include("partials/footer.ejs") %>